<h3>Corporate dashboard works!</h3>

<div class="nx-dropdown" nx-dropdown>
  <a class="btn btn-outline-primary">Trigger</a>
  <div class="dropdown-content">
    <ul>
      <li>
        <a class="dropdown-item custom" (click)="clicked(1)">
          <i class="bx bx-qr"></i> Item one</a
        >
      </li>
      <li>
        <a class="dropdown-item custom" (click)="clicked(2)"
          ><i class="bx bxs-message-rounded-dots"></i>Item two</a
        >
      </li>
      <li>
        <a class="dropdown-item custom" (click)="clicked(3)">
          <i class="bx bxs-file-json"></i> Item three</a
        >
      </li>
      <li>
        <a class="dropdown-item custom" (click)="clicked(4)">
          <i class="bx bxs-log-in-circle"></i>Item four</a
        >
      </li>
      <li>
        <a class="dropdown-item custom" (click)="clicked(5)">
          <i class="bx bx-line-chart"></i>Item five</a
        >
      </li>
    </ul>
  </div>
</div>
