<div class="page medium-page">
    <header class="page-header">Dispensing Record </header>
    <div class="card mb-3">
      <div class="card-body">
          <div>
            Record Filing
          </div>
        <form>
          
        
        
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Enrolee Number</label>
              <input
                type="text"
                class="form-control"
                id="inputEmail4"
                placeholder="Enter the name of the plan"
              />
            </div>
            <div class=" col-md-6">
                
                <button type="submit" class="btn btn-block btn-outline-danger mt-4">

                Click To Search
                </button>
            </div>
            
            <div class="form-group col-md-4">
              <label for="inputPassword4"
                >Name </label
              >
              <input
                type="text"
                class="form-control"
                id="inputPassword4"
                placeholder=""
              />
            </div>

            <div class="form-group col-md-4"  >
                <label for='categoryId'>Strength</label>
                <input id="categoryId" class="form-control"/>
              </div>
            <div class="col-md-4"  >
                
                <button type="submit" class=" mt-4 btn btn-block btn-outline-primary">
                Click To Select Drug
                </button>
            </div>
            <div class="form-group col-md-4"  >
                <label for='categoryId'>Quantity</label>
                <input id="categoryId" class="form-control"/>
              </div>
              <div class="form-group col-md-4">
                <label for='categoryId'>Supply Period</label>
                <select class="form-control" name="" id="">
                  <option></option>
                  <option></option>
                  <option></option>
                </select>
              </div>
              <div class="form-group col-md-4"  >
                <label for='categoryId'>Enter number</label>
                <input id="categoryId" class="form-control"/>
              </div>
          </div>
        </form>
        <div class="text-right">
            <button  type="button" class="btn btn-primary">
                Apply
            </button>
          </div>
      </div>
    </div>
    <div class="action-area">
      <div class="text-right">
        <button  type="button" class="btn btn-primary">
            Submit Request
        </button>
      </div>
    </div>
  </div>
  