:root {
  --axa-ocean-blue: #4976ba;
  --axa-dark-blue: #00008f;
  --axa-darker-blue: #00005b;
  --axa-tropaz-blue: #2425aa;
  --axa-azure-blue: #3021c1;
  --axa-dark-indigo-blue: #3b3fd8;
  --axa-indigo-blue: #494df4;
  --axa-orange: #f07662;
  --axa-red: #ff1721;
  --axa-dark-gray: #333333;
  --axa-medium-gray: #5f5f5f;
  --axa-gray: #7f7f7f;
  --axa-light-gray: #999999;
  --axa-silver-gray: #cccccc;
  --axa-mercury: #e5e5e5;
  --axa-wild-sand: #f5f5f5;
  --axa-alabaster: #fafafa;

  --axa-igloo: #b5d0ee;
  --axa-cotton-candy: #fad6de;
  --axa-aqua-green: #9fd9b4;
  --axa-apache: #bc9d45;
  --axa-dune: #fcd385;

  --axa-teal: #027180;

  --card-shadow-1: 0 1px 2px rgba(136, 136, 136, 0.07),
    0 2px 4px rgba(136, 136, 136, 0.07), 0 4px 8px rgba(136, 136, 136, 0.07),
    0 8px 16px rgba(136, 136, 136, 0.07), 0 16px 32px rgba(136, 136, 136, 0.07),
    0 32px 64px rgba(136, 136, 136, 0.07);

  --card-shadow-2: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);

  --box-shadow-1: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
