.main-container {
/*   width: calc(100% - 240px); */
  margin-left: 65px;
  z-index: 100;
  transition: all 0.3s ease;
  background: #EEF0F8;
  height: 100%;
  width: 100%;
  padding: 1rem;
  overflow: auto;
  height: calc(100vh - 42px);
  &.menu-active {
    margin-left: 240px;
  }
}
