<div class="btn-group" dropdown>
  <div dropdownToggle>Button dropdown <i class="fas fa-angle-down"></i></div>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <ng-content select="dropdown-item"></ng-content>
  </ul>
  <!--   <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Another action</a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Something else here</a>
    </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem">
      <a class="dropdown-item" href="#">Separated link</a>
    </li>
  </ul> -->
</div>
